{% extends "base.html" %}
{% load static %}


{% block content %}
        <h2>Selamat Datang</h2>
        <img class = "img" src="{% static 'img/foto.jpg' %}" height="230">
            <p>FeynmanProject adalah sebuah platfrom yang menyediakan materi
                matematika tingkat perguruan tinggi, seperti Kalkulus, Persamaan
                diferensial Biasa, Persamaan Diferensial Partial
                Nama Feynman Project diambil dari seorang fisikawan terkenal
                bernama Richard P Feynman.
            </p>
            <p>Tujuan dari project ini diharapkan mempermudah para pelajar mudah
                dalam mencari bahan belajar dalam proses pembelajaran
            </p>
        
        <h3>Materi</h3>
            <p>Setiap materi memiliki beberapa latihan dengan penyelesaiannya:</p>

            <p><a class="link" href="/kalkulus">Kalkulus</a> - Aliquam sed sodales urna. In commodo,
                sem in cursus dignissim, mi tortor venenatis quam, nec posuere ipsum
                nibh semper quam. Proin orci mauris, convallis eu fringilla at,
                convallis nec dolor. Sed vitae arcu ac nibh lacinia gravida sit amet
                quis libero. Vestibulum ultricies augue et metus aliquam, a semper
                leo auctor. Mauris porttitor mattis metus nec blandit. Quisque at
                condimentum augue. Cras efficitur ut est in sodales. Fusce non blandit
                ex, vitae convallis enim. Donec eget feugiat est. Curabitur sed posuere
                nibh. Ut et elit efficitur, ultricies arcu non, posuere ipsum. Maecenas
                ut lacinia mauris. Aliquam vitae dolor diam. Proin a elit sit amet elit 
                semper aliquet</p>
            <p><a class="link" href="/ODE">Persamaan Diferensial Biasa</a> - 
            Aliquam sed sodales urna. In commodo,
                sem in cursus dignissim, mi tortor venenatis quam, nec posuere ipsum
                nibh semper quam. Proin orci mauris, convallis eu fringilla at,
                convallis nec dolor. Sed vitae arcu ac nibh lacinia gravida sit amet
                quis libero. Vestibulum ultricies augue et metus aliquam, a semper
                leo auctor. Mauris porttitor mattis metus nec blandit. Quisque at
                condimentum augue. Cras efficitur ut est in sodales. Fusce non blandit
                ex, vitae convallis enim. Donec eget feugiat est. Curabitur sed posuere
                nibh. Ut et elit efficitur, ultricies arcu non, posuere ipsum. Maecenas
                ut lacinia mauris. Aliquam vitae dolor diam. Proin a elit sit amet elit 
                semper aliquet</p>
            <p><a class="link" href="/PDE">Persamaan Diferensial Parsial</a> - 
            Aliquam sed sodales urna. In commodo,
                sem in cursus dignissim, mi tortor venenatis quam, nec posuere ipsum
                nibh semper quam. Proin orci mauris, convallis eu fringilla at,
                convallis nec dolor. Sed vitae arcu ac nibh lacinia gravida sit amet
                quis libero. Vestibulum ultricies augue et metus aliquam, a semper
                leo auctor. Mauris porttitor mattis metus nec blandit. Quisque at
                condimentum augue. Cras efficitur ut est in sodales. Fusce non blandit
                ex, vitae convallis enim. Donec eget feugiat est. Curabitur sed posuere
                nibh. Ut et elit efficitur, ultricies arcu non, posuere ipsum. Maecenas
                ut lacinia mauris. Aliquam vitae dolor diam. Proin a elit sit amet elit 
                semper aliquet</p>
            <p><a class="link" href="/latihan">Latihan</a> - 
            Aliquam sed sodales urna. In commodo,
                sem in cursus dignissim, mi tortor venenatis quam, nec posuere ipsum
                nibh semper quam. Proin orci mauris, convallis eu fringilla at,
                convallis nec dolor. Sed vitae arcu ac nibh lacinia gravida sit amet
                quis libero. Vestibulum ultricies augue et metus aliquam, a semper
                leo auctor. Mauris porttitor mattis metus nec blandit. Quisque at
                condimentum augue. Cras efficitur ut est in sodales. Fusce non blandit
                ex, vitae convallis enim. Donec eget feugiat est. Curabitur sed posuere
                nibh. Ut et elit efficitur, ultricies arcu non, posuere ipsum. Maecenas
                ut lacinia mauris. Aliquam vitae dolor diam. Proin a elit sit amet elit 
                semper aliquet</p>
{% endblock content %}

{% block content-1 %}
    <p style="text-align: center;"><i>"I Just Ordinary Person, But Study Hard"</i></p>
    <p style="text-align: center;">Richard P Feynman</p>
{% endblock content-1 %}

