{% extends "base.html" %}
{% load static %}


{% block content %}
        <h2>Selamat Datang</h2>
        <img class = "img" src="{% static 'img/foto.jpg' %}" height="230">
            <p>FeynmanProject adalah sebuah platfrom yang menyediakan materi
                matematika tingkat perguruan tinggi, seperti Kalkulus, Persamaan
                diferensial Biasa, Persamaan Diferensial Partial
                Nama Feynman Project diambil dari seorang fisikawan terkenal
                bernama Richard P Feynman.
            </p>
            <p>Tujuan dari project ini diharapkan mempermudah para pelajar mudah
                dalam mencari bahan belajar dalam proses pembelajaran
            </p>
        
        <h3>Materi</h3>
            <p>Setiap materi memiliki beberapa latihan dengan penyelesaiannya:</p>

            <p><a class="link" href="/kalkulus">Kalkulus dasar</a></p>
                <ul>
                    <li>
                        Turunan - Definisi Turunan, Turunan Trigonometri, Aturan Rantai,
                        Turunan Orde Tinggi
                    </li>
                    <li>
                        Aplikasi Dari Turunan - Maxima dan Minima, Masalah Praktis, Penyelesaian Persamaan Dengan Numeric
                    </li>
                    <li>
                        Integral - Pengenalan Luas ,Definisi Integral, Theorema Dari Kalkulus, Integral Numerik
                    </li>
                    <li>
                        Aplikasi dari Integral - Luas dari sebuah bidang datar,
                        Volume dari sebuah bidang, panjang dari sebuah bidang kurva,
                        usaha dan gaya fluida, momeny dan pusat massa, probabilitas dan Random Variable
                    </li>
                    <li>
                        Teknik Integrasi - Aturan Integral, Integral Per Bagian, Integral Trigonometri,
                        Integral Subtitusi, Integral Dari fungsi rasional menggunakan Parsial, strategi integral
                    </li>
                </ul>
            <p><a class="link" href="/ODE">Persamaan Diferensial Biasa</a></p>
                <ul>
                    <li>
                        Persamaan Diferensial Biasa Orde Pertama - Persamaan Separasi, Persamaan Diferensial Linear,
                        metode untuk persamaan diferensial order pertama
                    </li>
                    <li>
                        Persamaan Diferensial Biasa Orde Dua - Persamaan Diferensial Orde Dua dengan konstanta dan angka nol pada ruas kanan,
                        Persamaan Diferensial Orde Dua dengan konstanta dan bukan angka nol pada ruas kanan, macam - macam bentuk persamaan diferensial orde dua
                    </li>
                    <li>
                        Transformasi Laplance - solusi Persamaan Diferensial Orde Dua dengan transformasi laplance
                    </li>
                    <li>
                        Metode Konvolusi
                    </li>
                </ul>
            <p><a class="link" href="/PDE">Persamaan Diferensial Parsial</a>
            <ul>
                <li>
                    Persamaan Laplace
                </li>
                <li>
                    Persamaan Aliran Panas atau difusi panas
                </li>
                <li>
                    Persamaan Gelombang
                </li>
                <li>
                    Persamaan Poisson's
                </li>
                <li>
                    Transformasi Integral untuk solusi Persamaan Diferensial Parsial
                </li>
            </ul>
            <p><a class="link" href="/latihan">Latihan</a> -
            Latihan mencakupi seluruh materi yang di paparkan, jumlah setiap soal berbeda beda dengan
            tingkat kesulitan yang bervriasi setiap latihan soal memiliki solusi untuk mengecek solusi anda benar atau salah</p>
{% endblock content %}

{% block content-1 %}
    <p style="text-align: center;"><i>"I Just Ordinary Person, But Study Hard"</i></p>
    <p style="text-align: center;">Richard P Feynman</p>
{% endblock content-1 %}

