{% extends "base.html" %}

{% block content-1 %}
        <h3>Lorem Implus</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Quidem optio nulla commodi sequi amet explicabo totam, 
                minus consequuntur. A earum iure eum odio? Quod hic nulla
                reiciendis nesciunt maiores dolores.</p>
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Similique, fuga. Facilis eligendi ab omnis eius dicta
                repellendus? Sunt tempora at molestiae voluptatem.
                Consectetur est eaque alias vitae hic minima odit.</p>
{% endblock content-1 %}

{% block content-2 %}
        <h3>Lorem Implus</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Quidem optio nulla commodi sequi amet explicabo totam, 
            minus consequuntur. A earum iure eum odio? Quod hic nulla
            reiciendis nesciunt maiores dolores.</p>
            
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Similique, fuga. Facilis eligendi ab omnis eius dicta
            repellendus? Sunt tempora at molestiae voluptatem.
            Consectetur est eaque alias vitae hic minima odit.</p>
{% endblock content-2 %}

{% block content-3 %}
    <h3>Lorem Implus</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Quidem optio nulla commodi sequi amet explicabo totam, 
                minus consequuntur. A earum iure eum odio? Quod hic nulla
                reiciendis nesciunt maiores dolores.</p>
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Similique, fuga. Facilis eligendi ab omnis eius dicta
                repellendus? Sunt tempora at molestiae voluptatem.
                Consectetur est eaque alias vitae hic minima odit.</p>
{% endblock content-3 %}

