{% extends "base.html" %}

{% block content %}
    <ul class="nav">
    <!-- General -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'quizes:main-view' %}">
            General
        </a>
    </li>

    <!-- Topic dari database -->
    {% for cat in categories %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'quizes:categoryPost' cat %}">
                {{ cat }}
            </a>
        </li>
    {% endfor %}
    </ul>

    {% for obj in posts %}
    <h3>
        <a href="{% url 'quizes:quiz-view' obj.pk %}">
            {{ obj.name }}
        </a>
    </h3>
    <p>{{ obj.text|truncatechars:200 }}</p>
    {% empty %}
        <p>Tidak ada data untuk kategori ini</p>
    {% endfor %}
{% endblock content %}

