{% extends "base.html" %}

{% block content %}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget
        lobortis sapien, non accumsan nibh. Sed tempor quam posuere tincidunt accumsan.
        Morbi lorem ex, blandit sed viverra quis, viverra scelerisque velit. Suspendisse
        nec ligula sit amet magna tempor faucibus nec sit amet nisl. Proin iaculis ante
        mauris, id lacinia lacus condimentum et. Aenean odio ante, accumsan vitae finibus
        suscipit, lacinia sed nibh. Integer tristique libero sit amet enim consectetur
        placerat. Integer fermentum auctor erat, ac tincidunt risus rutrum vitae. 
        Vivamus sollicitudin porta sagittis. Nullam sed urna arcu. Curabitur finibus ac
        orci quis aliquam. Nulla commodo enim vel venenatis ultricies. Nam posuere lorem
        ipsum, id sollicitudin sapien facilisis et.</p>


    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget
        lobortis sapien, non accumsan nibh. Sed tempor quam posuere tincidunt accumsan.
        Morbi lorem ex, blandit sed viverra quis, viverra scelerisque velit. Suspendisse
        nec ligula sit amet magna tempor faucibus nec sit amet nisl. Proin iaculis ante
        mauris, id lacinia lacus condimentum et. Aenean odio ante, accumsan vitae finibus
        suscipit, lacinia sed nibh. Integer tristique libero sit amet enim consectetur
        placerat. Integer fermentum auctor erat, ac tincidunt risus rutrum vitae. 
        Vivamus sollicitudin porta sagittis. Nullam sed urna arcu. Curabitur finibus ac
        orci quis aliquam. Nulla commodo enim vel venenatis ultricies. Nam posuere lorem
        ipsum, id sollicitudin sapien facilisis et.</p>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget
        lobortis sapien, non accumsan nibh. Sed tempor quam posuere tincidunt accumsan.
        Morbi lorem ex, blandit sed viverra quis, viverra scelerisque velit. Suspendisse
        nec ligula sit amet magna tempor faucibus nec sit amet nisl. Proin iaculis ante
        mauris, id lacinia lacus condimentum et. Aenean odio ante, accumsan vitae finibus
        suscipit, lacinia sed nibh. Integer tristique libero sit amet enim consectetur
        placerat. Integer fermentum auctor erat, ac tincidunt risus rutrum vitae. 
        Vivamus sollicitudin porta sagittis. Nullam sed urna arcu. Curabitur finibus ac
        orci quis aliquam. Nulla commodo enim vel venenatis ultricies. Nam posuere lorem
        ipsum, id sollicitudin sapien facilisis et.</p>

    <ul class="nav">
    <!-- General -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'quizes:main-view' %}">
            General
        </a>
    </li>

    <!-- Topic dari database -->
    {% for cat in categories %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'quizes:categoryPost' cat %}">
                {{ cat }}
            </a>
        </li>
    {% endfor %}
    </ul>


    {% for obj in object_list %}
        <h3><a href="{{obj.pk}}">{{obj.name}}</a></h3>
        <p>{{obj.text | truncatechars:200}}</p>

        
    {% endfor %}
{% endblock content %}


