{% extends "base.html" %}

{% block content %}
    {% for postf in Posts_front %}
        <div style="white-space: pre-wrap;">
            <p>{{postf.intro}}</p>
        </div>
    {% endfor %}

    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/kalkulus" title="">
                Semua
            </a>
        </li>
    {% for dataCategory in Categories %}
        <li class="nav-item">
            <a class = "nav-link" href="/kalkulus/category/{{dataCategory.category}}">
                {{dataCategory.category}}
            </a>
        </li>
    {% endfor %}
    </ul> 


    {% for post in Posts %}
        <a href="/kalkulus/post/{{post.slug}}" title="">
            <h4>{{post.judul}}</h4>
        </a>
        <!-- <p>{{post.publish}}</p> -->
        <p>{{post.body| truncatechars:200}}</p>
    {% endfor %}
{% endblock content %}


