{% load static %}
<div class="container">
        <header>
            <div>
                <h1>Ryman Project</h1> 
                <!-- nanti disini dengan logo -->
            </div>
            <div class="info_panel">
                <a href="#">
                    <!-- <img src="{% static 'images/info.png' %}" alt="Info Icon" class="info_icon"> -->
                </a>
                <a href="#">
                    <!-- <img src="{% static 'images/settings.png' %}" alt="Settings Icon" class="settings_icon"> -->
                </a>
            </div>
        </header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/kalkulus">Kalkulus</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ODE">Persamaan Diferensial Biasa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/PDE">Persamaan Diferensial Partial</a>
            </li>
        </ul>
        </div>
        </div>
        </nav>
    </div>

